* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
  background-color: #191919;
}

/* NAVIGATION BAR */

.topnav {
    overflow: hidden;
    background-color: #191919;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 16px;
    transition: ease .5s;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: navy;
    font-weight: 500;
    transition: ease .5s;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

/* BANNER */
video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: relative;
  top: -2em;
}

.foster-logo  img{
  height: 100%;
  width: 100%;
  margin-top: 6em;
}

/* .banner-links {
    position: absolute;
    top: 54.5%;
    left: 72%;
    transform: translate(-50%, -50%);
}

.banner-links a {
    text-decoration: none;
    color: navy;
    font-weight: 400;
    text-shadow: 1px 1px 1px lightgray;
    margin: .5em;
}

li {
    display: inline;
    padding: 0 20px;
  }
  
  .banner-links a {
    position: relative;
    display: inline;
    cursor: pointer;
  }


  .banner-links a:before, .banner-links a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 50%;
    margin-top: -0.5px;
    background: #fff;
  }
  
  .banner-links a:before {
    left: -2.5px;
  }
  .banner-links a:after {
    right: 2.5px;
    background: #fff;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    z-index: -1;
  }
  
  .banner-links a:hover:before {
    background: #fff;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    z-index: -1;
  }
  
  .banner-links a:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
  }  */

  /* DOWN ARROW */

  .arrow {
  position: relative;
  bottom: 8em;
  left: 51%;
  margin-left: -22px;
  width: 30px;
  height: 30px;
  background-image: url(./images/white-down-arrow.png);
  background-size: contain;
  transition: ease .5s;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.arrow:hover {
  opacity: 0.5;
  transition: ease .5s;
  cursor: pointer;
}

/* FLEX CONTAINER */

#flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.66em;
  margin: 3em auto;
}

.item img {
  width:  25em;
  height: 25em;
  object-fit: cover;
}

.item {
  transition: ease 0.5s;
}

.item:hover {
  opacity: 0.5;
  transition: ease 0.5s;
  cursor: pointer;
}

 /* CONTACT */

  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: .5em;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10em 8em;
  }
  
  /* Create two columns that float next to each other */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }

  .column img {
    margin-top: -6em;
    padding: 5em;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  
    input[type=submit] {
      padding: .5em;
      margin-bottom: 2em;
    }
  
    .container {
      padding: 10em 2em;
    }
  
    .social-icons {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }


/* FOOTER */

.footer-distributed {
  background-color: #191919;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  font-size: 28px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin: 3.2px;
  transition: all .25s;
}

.footer-distributed .footer-right a:hover {
  transform:scale(1.2); 
  -webkit-transform:scale(1.2);
}

.footer-distributed p.footer-links a:hover {
  text-decoration:underline;
}


@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}

/* MEDIA QUERIES */

@media only screen and (min-width: 375px) and (max-width: 1600px) {

  /* .banner-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -28em;
    left: inherit;
    transform: none;
    z-index: 2;
    padding: 5em;
  }

  .banner-links a:hover:before {
    background: #fff;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    z-index: -1;
  }
  
  .banner-links a:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
    z-index: -1;
  } */
}

@media only screen and (min-width: 375px) and (max-width: 1300px) {
  .banner {
    background-image: url(./images/foster-mobile-2.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
  }

  video {
    display: none;
  }

}

@media only screen and (min-width: 1300px) {
  .foster-logo {
    display: none;
  }
}


